@import "./variables.scss";

body {
  background-color: $bgAccent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230b0b0b' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: $fontColor;
}

h1 {
  font-family: $displayFont;
  font-size: $largestFont;
  margin: $standardTextMargin;
}

h2 {
  font-family: $displayFont;
  font-size: $largeFont;
}

h3 {
  font-family: $sansFont;
  font-weight: $bold;
  font-size: $largeFont;
}

h4 {
  @extend h3;
  font-size: $mediumFont;
}

a {
  font-family: $sansFont;
  text-decoration: none;
  font-weight: $bold;
}

p,
li {
  font-family: $sansFont;
  font-weight: $regular;
}

a {
  color: $link;
}

.wrapper {
  max-width: 65%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  padding-top: 0;
  background-color: $page;
  border-radius: 25px;
  position: relative;
}

.wrapper:before {
  content: "";
  width: 40%;
  height: 2.5em;
  border-radius: 20px 20px 0 0;
  background-color: $background;
  position: absolute;
  top: -0.9em;
  left: 0px;
  z-index: -10;
}

.mainNav {
  padding-top: 10px;
  padding-bottom: 10px;
  span {
    font-family: $displayFont;
    font-size: $smallFont;
  }
  nav {
    font-family: $displayFont;
  }
  a {
    font-family: $sansFont;
  }
}
