@import "./variables.scss";

.folder {
  width: 120px;
  height: 80px;
  display: inline-block;
  margin: auto;
  position: relative;
  background-color: $folder;
  border-radius: 0 3px 3px 3px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
  margin-bottom: -8px;
  margin-top: 12px;
}

.folder:before {
  content: "";
  width: 50%;
  height: 1.2em;
  border-radius: 0 20px 0 0;
  background-color: $folder;
  position: absolute;
  top: -0.3em;
  left: 0px;
}

ul.menucard-nav {
  display: flex;
  flex-direction: row;
  // border: 1px solid purple;
  width: 50%;
  height: 140px;

  li {
    // border: 1px solid blue;
    width: 200px;
    position: relative;
    list-style-type: none;
  }

  .copy {
    position: absolute;
    top: 70%;
    left: 2%;
    // left: 50%;
    // transform: translateX(-50%);
  }
}
