@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Open+Sans:wght@400;700&display=swap");

// Dark colour scheme
$background: #ffffff;
$bgAccent: #471323;
$accentA: #ceb992;
$page: #ffffff;
$folder: #585563;
$link: #471323;

$displayFont: "Henny Penny", cursive;
$sansFont: "Open Sans", sans-serif;

$bold: "700";
$regular: "400";
