@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Special+Elite&display=swap");

// Colours 1
// $background: #ffffff;
// $bgAccent: #471323;
// $accentA: #ceb992;
// $page: #ffffff;
// $folder: #585563;
// $link: #471323;

// Colours 2
$background: #ffffff;
$bgAccent: #4b2142;
$accentA: #97ead2;
$accentB: #8cc7a1;
$page: #ffffff;
// $folder: #816e94;
$folder: #8cc7a1;
$link: #74226c;

// $displayFont: "Elsie Swash Caps", cursive;
$displayFont: "Special Elite", cursive;
$sansFont: "Open Sans", sans-serif;

$bold: 700;
$regular: 400;

$largestFont: 40px;
$largeFont: 22px;
$mediumFont: 18px;

$standardTextMargin: 15px 0 15px 0;
