@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Special+Elite&Zilla+Slab:wght@300&display=swap");

//colours 4
$background: #ffffff;
$bgAccent: #615960;
$accentA: #9c3567;
$accentB: #d4bad1;
$accentC: #72887558;
$accentD: #92a794;
$page: #ffffff;
$folder: #72a875;
$fontColor: #464045;
$link: #c908b0;

$headings: #6b2161;
$important: #72a875;

$displayFont: "Special Elite", cursive;
$sansFont: "Open Sans", sans-serif;
$serifFont: "Zilla Slab", serif;

$bold: 700;
$regular: 400;

$largestFont: 40px;
$largeFont: 22px;
$mediumFont: 18px;
$smallFont: 16px;
$smallestFont: 14px;

$respSmallestFont: 12px;
$respSmallFont: 14px;
$respMediumFont: 16px;

$standardTextMargin: 15px 0 15px 0;

$borderRadius: 25px;
